{% extends "base.html" %}

{% block extrahead %}

<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon-32x32.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon-16x16.png' | url }}">
<link rel="manifest" href="{{ 'site.webmanifest' | url }}">
  {{ super() }}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9864346121582133" crossorigin="anonymous"></script>

{% endblock %}
